.text-field {
    -fx-background-radius: 0;
    -font-size: 16pt;
}

.label {
    -fx-text-fill: black;
}

.mfx-button {
    -fx-background-color: #2b579a;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: white;
}
